<div class="page-header">
	<h2>Sign in</h2>
</div>

<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal well form'}) do |f| %>
		  
		  <%= f.input :email %>

		  <%= f.input :password %>

		  <%= f.input :remember_me, as: :boolean %>

		  <div class="form-actions">
		  	<%= f.submit "Sign in", class: 'btn btn-primary' %>
		  </div>
		  <%= render "devise/shared/links" %>
		<% end %>

	</div>
</div>