<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Finance Your Energy Efficiency Project | Coefficient Capital</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="Energy efficiency financing" content="Awesome Description Here">
  <link rel="icon" 
      type="image/png" 
      href="/logo/favicon-logo-transparent.png">
</head>

<div id="wrap">
  <body>
    <%= render 'layouts/header' %>
    <div id ="main" class="container clear-top">
      	<% flash.each do |name, msg| %>
      		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      	<% end %>
        <div class="alert alert-block alert-success">
          <h4>Welcome!</h4>
          <h5>
            Thanks for visiting us. We're still busy finishing our web platform. Our goal is to make financing energy efficiency projects more convenient and more affordable by connecting efficiency projects - across commercial, industrial and residential spaces - with lenders eager to turn efficiency savings into a reality.
          </h5>
          <h5> We'll be launching soon. In the meantime, if you know of a project looking for financing, we'd love to hear from you. Email us at getstarted@joincoefficient.com.</h5>
          <h5>Talk soon,<br>-The Coefficient Team</h5>
        </div>
      	<%= yield %>
    </div>
  </body>
</div>

<%= render 'layouts/footer' %>

</html>
